.projects {
    width: 90%;
    max-width: 900px;
    /* margin: 0 auto; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
  }
  
  .card {
    min-height: 100%;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);; */
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #444;
    position: relative;
    top: 0;
    transition: all 0.3s ease;
  }
  
  .card h1 {
    text-decoration: underline transparent;
  }
  
  .card:hover h1 {
    transition-property: text-decoration-color;
    text-decoration-color: #e36060;
    transition: 0.3s;
  
    /* text-decoration-color:  */
  }
  
  .card:hover .project-thumb {
    transition-property: opacity;
    opacity: 0.8;
    transition-duration: 0.3s;
  }
  
  .project-thumb {
    transition-property: opacity;
    opacity: 1;
    transition-duration: 0.3s;
  }
  
  .project-link {
    text-decoration: none;
    color: #444;
  }
  
  /* .card:hover {
      top: -2px;
      box-shadow: 0 4px 5px rgba(0,0,0,0.2);
    } */
  
  /* title and description */
  .card article {
    padding: 20px;
    display: flex;
  
    flex: 1;
    justify-content: space-between;
    flex-direction: column;
  }
  .card .project-thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
  }
  
  .card p {
    flex: 1; /* make p grow to fill available space*/
    line-height: 1.4;
  }
  
  /* typography */
  h1 {
    font-size: 20px;
    margin: 0;
    color: #333;
  }
  
  /* tag links */
  .card span {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 2em 0 0 0;
  }

  @media only screen and (min-width: 850px) {
    .projects {
      grid-template-columns: 1fr 1fr;
    }
  }