.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #c95050;
  letter-spacing: 0.0325rem;
}

.footer img {
  width: 1.35rem;
  margin-left: 1rem;
  opacity: 0.6;
  transition: 0.3s ease;
}

.footer img:hover {
  opacity: 1;
  transition: 0.3s ease;
}
