.illustrations-grid {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 5vw);
  grid-gap: 1rem;
  flex-direction: column;
  flex-flow: row wrap;
}

.illustrations-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-1 {
  grid-column-start: 5;
  grid-column-end: 12;
  grid-row-start: 5;
  grid-row-end: 8;
}

.item-2 {
  grid-column-start: 6;
  grid-column-end: 12;
  grid-row-start: 1;
  grid-row-end: 5;
}

.item-3 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 5;
}

.item-4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 12;
}

.item-5 {
  grid-column-start: 5;
  grid-column-end: 12;
  grid-row-start: 8;
  grid-row-end: 12;
}
.item-6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 5;
  grid-row-end: 12;
}
