.nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

nav img {
  width: 80px;
}

nav ul {
  display: flex;
  align-items: center;
  height: 100%;
  flex-wrap: wrap;
}

nav ul li {
  margin: 0 2.5rem 0 0;
}

nav ul li:last-child {
  margin: 0;
}

nav a {
  text-decoration: none;
  font-size: 17px;
  color: #6e7082;
  transition: color 0.2s ease;
  border-bottom: 1.5px solid transparent;
  font-weight: 600;
  letter-spacing: 0.0325rem;
  transition: color 0.2s ease;
}

nav a:hover {
  transition: color 0.2s ease;
  color: #282b42;
  box-shadow: inset 0 0 0 0 white, inset 0 -0.095rem 0 0 #c95050;
  transition: 0.2s;
}
